<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vedurMonitor.Properties.Settings.stadir_landshlutar_completeConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDb;Initial Catalog=stadir_landshlutar_complete;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="vedurMonitor.Properties.Settings.vedurDBConnectionString"
            connectionString="Data Source=CHEAPHEAP\SQLEXPRESS;Initial Catalog=vedurDB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="vedurMonitor.Properties.Settings.vedurMonitorDBConnectionString"
            connectionString="Data Source=(localDb)\MSSQLLocalDb;Initial Catalog=vedurMonitorDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="vedurMonitor.Properties.Settings.VedurstodvarCompleteConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=VedurstodvarComplete;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="vedurMonitor.Properties.Settings.SkólaverkefniConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Skólaverkefni;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="vedurMonitor.Properties.Settings.vedurDatabaseConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDb;Initial Catalog=vedurDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="vedurMonitor.Properties.Settings.vedurFinalConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDb;Initial Catalog=vedurFinal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>