<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="vedurMonitor.Properties.Settings.VedurMonitorWPFConnectionString"
            connectionString="Data Source=miscprojects.database.windows.net;Initial Catalog=VedurMonitorWPF;Persist Security Info=True;User ID={username};Password={password}"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>